.pp7 {
  font-size: 18px;

  .post-title-box {
    padding-bottom: 1em;
  }

  .post__head {
    text-align: center;
  }

  img {
    margin: 0;
    zoom: 60%;
  }

  p {
    margin-bottom: 10px;
  }

  a {
    color: #2196f3;
  }

  video {
    border: 1px solid #3e3d3d;
  }

  p {
    line-height: 1.6;
  }
}

h2 {
  margin-top: 20px;
}